.footer {
  width: 100%;
  position: fixed;
  z-index: 40;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0),
    0 1px 10px 2px rgba(0, 0, 0, 0.05), 0 0px 5px 0 rgba(0, 0, 0, 0.1);
  @media screen and (min-width: 600px) {
    // width: calc(100% - 288px);
    bottom: 0;
    // right: 24px;
    &.full-width {
      left: 24px;
      width: calc(100% - 48px);
    }
  }
}
