.number-input {
  .MuiInputBase-inputMultiline {
    text-align: right;
  }
}

.button-input {
  .MuiButton-contained {
    background-color: #3f51b5;
    color: white;
  }
}

.item-dialog {
  .MuiDialogContent-root {
    padding: 8px 8px 8px 24px;
  }
  .MuiDialogActions-root {
    padding: 8px 18px 8px 8px;
  }

  .MuiFormGroup-root {
    justify-content: right;
  }
}
