//new changes 5/6/2021 by syafiq ali
.main-header-fix {
  position: fixed;
  width: calc(100% - 288px);
  top: 62px;
  z-index: 999;
}

.mobile-header {
  .first-btn {
    padding: 0px;
    padding-right: 8px;
    color: #fff;
    border-radius: 0;
    .MuiSvgIcon-root {
      background: purple;
      // color: #ffffff;
      border-radius: 3px; //latest update
      padding: 2px;
    }
  }
  .MuiToolbar-root {
    flex-wrap: wrap;
    min-height: unset;
    padding: 8px 10px;
    .domain-container {
      display: flex;
      width: 100%;
      padding-bottom: 6px;
      align-items: center;
      .domain-session {
        flex: 1;
      }
    }
    .domain-new-container {
      display: flex;
      width: 100%;
      border-bottom: 1px solid #fff;
      padding-bottom: 6px;
      align-items: center;

      .domain-session {
        background-color: #e0e7ff;
        border-radius: 3px;
        flex: 1;
        display: flex;
        padding: 5px;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
          0px 4px 5px 0px rgba(0, 0, 0, 0.14),
          0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
      }
    }
  }
}
