.core-list {
  //Typography
  .title {
    line-height: 22px;
  }

  .smTitle {
    line-height: 20px;
  }

  .xsTitle {
    line-height: 18px;
  }

  .xxTitle {
    line-height: 16px;
  }

  .desc {
    line-height: 16px;
    color: #454545;
    font-size: 11px;
  }

  .mdDesc {
    line-height: 18px;
  }

  .right {
    float: right;
    margin-top: 3px;
  }

  .MuiListItem-root.Mui-selected {
    background-color: #d1d1d1;
  }

  .MuiListItem-secondaryAction {
    padding-right: 50px !important;
  }
}
